# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
/.next/
/out/

# Production
/build

# Environment variables
.env*.local
.env
.env.production

# Vitest
/coverage

# TypeScript
*.tsbuildinfo
next-env.d.ts
